* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: auto;
  min-width: 320px;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 100%;
    padding: 0 30px;
  }
}

@media (max-width: 480px) {
  .container {
    max-width: 100%;
    padding: 0 15px;
  }
}

@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Regular';
  src: url("../fonts/ProximaNova-Regular.eot");
  src: url("../fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Light';
  src: url("../fonts/ProximaNova-Light.eot");
  src: url("../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Bold';
  src: url("../fonts/ProximaNova-Bold.eot");
  src: url("../fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Proxima Nova Light', sans-serif;
  color: #262626;
}

.button-o {
  font-family: 'Proxima Nova Semibold', sans-serif;
  padding: 17px 22px;
  border: 2px solid #507fe1;
  font-size: 12px;
  text-transform: uppercase;
  color: #507fe1;
  background-color: transparent;
}

.button {
  font-family: 'Proxima Nova Semibold', sans-serif;
  padding: 25px 44px;
  font-size: 15px;
  text-transform: uppercase;
  color: #fff;
  background-color: #507fe1;
  border: none;
  outline: none;
}

.input {
  height: 80px;
  padding-left: 30px;
  border: 1px solid #dddddd;
}

@media (max-width: 1110px) {
  .input {
    margin-bottom: 20px;
    height: 60px;
  }
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked + label::before {
  background-color: #507fe1;
  border-radius: 50%;
}

.checkbox-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
  margin-right: 40px;
  margin-left: 0;
}

@media (max-width: 1110px) {
  .checkbox-label {
    margin-bottom: 20px;
  }
}

.checkbox-label:hover {
  cursor: pointer;
}

.checkbox-label::before {
  content: '';
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  margin-right: 20px;
}

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #fff;
}

.navbar-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 80px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar__mobile, .navbar__landline {
  text-align: right;
}

@media (max-width: 991px) {
  .navbar__mobile, .navbar__landline {
    display: none;
  }
}

.navbar__phone {
  font-family: 'Proxima Nova Semibold', sans-serif;
  display: block;
  font-size: 19px;
  text-transform: uppercase;
  color: #1c1c1c;
  text-decoration: none;
  margin-bottom: 5px;
}

.navbar__small-text {
  font-size: 14px;
  color: #7b7b79;
  text-decoration: none;
  display: block;
}

.menu {
  position: fixed;
  top: 80px;
  padding: 16px 0;
  width: 100%;
  left: 0;
  z-index: 0;
  background-color: #4370ce;
  -webkit-transition: translate 600ms;
  transition: translate 600ms;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  opacity: 0;
}

.menu--active {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  opacity: 1;
}

@media (max-width: 480px) {
  .menu--active {
    padding: 0;
  }
}

.menu__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 44px;
}

@media (max-width: 480px) {
  .menu__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 0;
  }
}

.menu__link {
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  margin: 7px;
}

@media (max-width: 480px) {
  .menu__link {
    margin: 10px;
  }
}

.menu-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  border: none;
  border-right: 1px solid rgba(81, 11, 186, 0.1);
  border-left: 1px solid rgba(81, 11, 186, 0.1);
  height: 80px;
  width: 70px;
}

.menu-button__line {
  display: block;
  width: 20px;
  height: 3px;
  background-color: #507fe1;
  margin: 2px;
}

@media (max-width: 600px) {
  .menu-button {
    border: none;
  }
}

.logo__text {
  display: block;
  font-size: 18px;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin-bottom: 5px;
}

.logo__description {
  display: block;
  font-size: 14px;
  line-height: 1.2;
  color: #7b7b79;
}

@media (max-width: 600px) {
  .logo {
    display: none;
  }
}

.hero {
  background: #f1f1f1 url(../img/hero/hero-bg.jpg) no-repeat top;
  background-size: cover;
  padding: 100px 0 270px;
  margin-top: 80px;
}

@media (max-width: 1010px) {
  .hero {
    background-position: top left 35%;
    background-size: 160%;
    padding-bottom: 200px;
  }
}

.hero__title {
  font-family: 'Proxima Nova Light', sans-serif;
  max-width: 262px;
  font-size: 30px;
  color: #262626;
  margin-bottom: 35px;
}

.hero__subtitle {
  font-family: 'Proxima Nova Bold', sans-serif;
  font-size: 30px;
  color: #121212;
  margin-bottom: 65px;
  display: block;
}

.offer {
  background-color: #f1f1f1;
  padding: 129px 0;
}

.offer__block {
  padding: 50px 80px 50px;
  margin-top: -230px;
  background: #fff url(../img/form/form-bg.png) no-repeat right;
}

@media (max-width: 1199px) {
  .offer__block {
    background-image: none;
  }
}

@media (max-width: 600px) {
  .offer__block {
    padding: 40px 35px;
  }
}

.offer__title {
  font-family: 'Proxima Nova Bold', sans-serif;
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

@media (max-width: 600px) {
  .offer__title {
    font-size: 21px;
  }
}

.offer__subtitle {
  display: block;
  font-size: 21px;
  margin-bottom: 30px;
}

@media (max-width: 600px) {
  .offer__subtitle {
    font-size: 17px;
  }
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 900px;
}

.form__label {
  display: block;
  font-size: 17px;
  line-height: 32px;
}

.form__group {
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
}

@media (max-width: 1110px) {
  .form__group {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.form__input {
  width: 100%;
}

.form__submit {
  height: 80px;
  width: 100%;
}

@media (max-width: 1110px) {
  .form__submit {
    height: 60px;
    padding: 15px;
  }
}
/*# sourceMappingURL=style.css.map */