body
   +light
   color: $text-color
.button-o
   +semibold
   padding: 17px 22px
   border: 2.0px solid $primary
   font-size: 12px
   text-transform: uppercase
   color: $primary
   background-color: transparent
.button
   +semibold
   padding: 25px 44px
   font-size: 15px
   text-transform: uppercase
   color: $white
   background-color: #507fe1
   border: none
   outline: none
