body
   +light
   color: $text-color
img
   max-width: 100%
.section
   margin-top: 100px
   @media (max-width: 480px)
      margin-top: 80px
   &-title
      +bold
      font-size: 30px
      text-transform: uppercase
      text-align: center
   &__title
      margin-bottom: 100px
      @media (max-width: 480px)
         margin-bottom: 60px
.button-o
   +semibold
   padding: 17px 22px
   border: 2.0px solid $primary
   font-size: 12px
   text-transform: uppercase
   color: $primary
   background-color: transparent
   text-decoration: none
.button
   +semibold
   padding: 25px 44px
   font-size: 15px
   text-transform: uppercase
   color: $white
   background-color: #507fe1
   border: none
   outline: none
   text-decoration: none
   &-fitting
      +regular
      background-color: $white
      color: #6a99e9
      line-height: 11px
      font-size: 11px
   &-add
      +regular
      background-color: #6a99e9
      color: $white
      border: none
      line-height: 11px
      font-size: 11px
   &-like
      +regular
      background-color: #417cde
      color: $white
      font-size: 19px
      line-height: 15px
.input
   height: 80px
   padding-left: 30px
   border: 1px solid #dddddd
   @media (max-width: 1110px)
      height: 60px
.select
   height: 80px
   border: 1px solid #dddddd
   position: relative
   &::after
      content: ''
      position: absolute
      top: 50%
      transform: translateY(-50%)
      right: 20px
      width: 20px
      height: 20px
      background: url('../img/form/arrow-down.png') no-repeat center
   &:hover
      cursor: pointer
   &__checked
      padding-left: 30px
      line-height: 80px
   &__dropdown
      position: absolute
      list-style: none
      top: 80px
      width: 100%
      background-color: $white
      border: 1px solid #dddddd
      padding: 0
      margin: 0
      margin-top: -2px
      display: none
      &--open
         display: block
   &__option
      padding: 20px
      &:hover
         background-color: $bg-secondary


input[type="checkbox"]
   display: none
   &:checked + label::before
         background-color: $primary
         border-radius: 50%
.checkbox
   &-label
      display: flex
      align-items: center
      margin: 20px 40px 40px 0
      @media (max-width: 1110px)
         margin-bottom: 20px
         margin-top: 0
      &:hover
         cursor: pointer
      &::before
         content: ''
         width: 30px
         height: 30px
         border: 1px solid #ddd
         margin-right: 20px
